<template>
	<div id="main">
		<Navbar />
		<div id="content">
			<router-view></router-view>
		</div>
	</div>
</template>
<script>
import Navbar from './components/Navbar';

export default {
	data() {
		return {
			//
		}
	},
	components: {
		Navbar
	}
}

</script>
