<template>
	<div class='container'>
		<div class="shops">
			<div class="row">
				<div class="col-sm-4" v-for='shop in preferred_shops' :key='shop.id'>
					<div class="card">
						<img class="card-img-top" :src="shop.thumbnail" :alt="shop.name">
						<div class="card-body">
							<h5 class="card-title">{{ shop.name }}</h5>
							<p class="card-text">{{ shop.description }}</p>
							<a href="#" class='btn btn-danger' @click='removeShop(shop)'>
								Remove
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			preferred_shops: []
		};
	},
	created() {
		axios.get('/preferred_shops').then(res => {
			return res.data;
		}).then(data => {
			if (data.status === 'success') {
				this.preferred_shops = data.response;
			} else {
				alert("Something wrong happened, please try again later. If the problem persists then please contact us."); // maybe use sweetalert instead or smthn
			}
		});
	},
	methods: {
		removeShop(shop) {
			axios.post('/delete_feedback', {
				shop: shop.id
			}).then(res => {
				return res.data;
			}).then(data => {
				if (data.status === 'success') {
					this.preferred_shops.splice(this.preferred_shops.indexOf(shop), 1);
				} else {
					alert("Something wrong happened! Please try again at a later time.");
					console.log(data);
				}
			})
		}
	}
}

</script>
