<template>
	<div class='container'>
		<div class="shops">
			<div class="row">
				<div class="col-sm-4" v-for='shop in shops' :key='shop.id'>
					<div class="card">
						<img class="card-img-top" :src="shop.thumbnail" :alt="shop.name">
						<div class="card-body">
							<h5 class="card-title">{{ shop.name }}</h5>
							<p class="card-text">{{ shop.description }}</p>
							<a href="#" :class="{'btn btn-primary': true, 'disabled': !$auth.check()}" @click='giveFeedback(shop, "LIKED")'>
								<i class='fa fa-thumbs-up'></i>
								{{ shop.feedback_type === 'LIKED' ? 'Liked' : 'Like' }}
							</a>
							<a href="#" :class="{'btn btn-danger': true, 'disabled': !$auth.check()}" @click='giveFeedback(shop, "DISLIKED")'>
								<i class='fa fa-thumbs-down'></i>
								{{ shop.feedback_type === 'DISLIKED' ? 'Disliked' : 'Dislike' }}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			shops: []
		};
	},
	created() {
		axios.get('/shops').then(res => {
			return res.data;
		}).then(data => {
			if (data.status === 'success') {
				this.shops = data.response;
			} else {
				alert("Something wrong happened, please try again later. If the problem persists then please contact us."); // maybe use sweetalert instead or smthn
			}
		});
	},
	methods: {
		giveFeedback(shop, _feedback_type) {
			let feedback_type = _feedback_type;

			// Handle that lill special case if the button pressed was already 'enabled' then we set feedback type to NONE
			if (_feedback_type === shop.feedback_type) {
				feedback_type = "NONE";
			}

			axios.post('/feedback', {
				shop: shop.id,
				feedback_type: feedback_type
			}).then(res => {
				return res.data;
			}).then(data => {
				if (data.status === 'success') {
					shop.feedback_type = data.response.type;
				} else {
					alert("Something wrong happened! Please try again at a later time.");
					console.log(data);
				}
			})
		}
	}
}

</script>
