<template>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<router-link class='navbar-brand' to="/">
			Cool Shops
		</router-link>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<!--UNLOGGED-->
				<li class="nav-item" v-if="!$auth.check()" v-for="(route, key) in routes.guest" v-bind:key="route.path">
					<router-link :to="{ name : route.path }" class='nav-link' :key="key">
						{{route.name}}
					</router-link>
				</li>
				<!--LOGGED USER-->
				<li class="nav-item" v-if="$auth.check()" v-for="(route, key) in routes.user" v-bind:key="route.path">
					<router-link class='nav-link' :to="{ name : route.path }" :key="key">
						{{route.name}}
					</router-link>
				</li>
				<!--LOGOUT-->
				<li class="nav-item" v-if="$auth.check()">
					<a href="#" class='nav-link' @click.prevent="$auth.logout()">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
</template>
<script>
export default {
	data() {
		return {
			routes: {
				guest: [{
						name: 'Register',
						path: 'register'
					},
					{
						name: 'Login',
						path: 'login'
					}
				],
				user: [{
					name: 'Preferred Shops',
					path: 'preferred_shops'
				}],
				admin: [{
					name: 'Dashboard',
					path: 'admin.dashboard'
				}]
			}
		}
	},
	mounted() {
		//
	}
}

</script>
